<launch>

  <!-- teleop -->
  <include file="$(find racecar)/launch/includes/teleop.launch.xml"/>

  <!-- known map server -->
  <arg name="map" default="$(find racecar)/maps/map.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" />

  <!-- amcl -->
  <include file="$(find racecar)/launch/includes/amcl.launch.xml"/>

</launch>
