<!-- -*- mode: XML -*- -->
<launch>
  <arg name="imu_model" default="$(optenv RACECAR_IMU razor_imu_m0)" doc="imu sensor types [razor_imu, razor_imu_m0]" />
  <arg name="run_camera" default="false"/>

  <include file="$(find racecar)/launch/includes/teleop.launch.xml">
    <arg name="imu_model" value="$(arg imu_model)" />
    <arg name="run_camera" value="$(arg run_camera)" />
  </include>

</launch>
